@media (max-width: 1300px) {
    .container--fluid {
        padding: 0 15px;
    }
    .container__half--right {
        padding-right: calc((100vw - 1230px) / 2);
    }
    .container__half--left {
        padding-left: calc((100vw - 1230px) / 2);
    }
}

@media (max-width: 1200px) {
    .work__btn-list-item {
        flex: calc(25% - 15px) 0 1;
        max-width: calc(25% - 15px);
    }
    .container__half--right {
        padding-right: calc((100vw - 990px) / 2);
    }
    .container__half--left {
        padding-left: calc((100vw - 990px) / 2);
    }
    .container__full {
        flex: calc(50% - 20px) 0 1;
        max-width: calc(50% - 20px);
    }
    .container__half {
        flex: 50% 0 1;
        max-width: 50%;
    }
    .footer__right {
        max-width: 400px;
    }
    .footer__left::after {
        right: 40px;
    }
    .popup__text {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .popup {
        padding: 40px 30px 30px;
        overflow: auto;
    }
    .popup__input:not(:last-of-type) {
        margin-bottom: 15px;
    }
}

@media (max-height: 600px) {
    .popup {
        max-height: 500px;
    }
}

@media (max-width: 1024px) {
    .about__inner {
        position: relative;
        padding-top: 100px;
    }
    .about__shadow {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 998px) {
    section {
        padding: 60px 0;
    }
    .header__contacts {
        display: none;
    }
    .menu__list {
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        transform: translateX(-100%);
        z-index: 100;
        background: linear-gradient(101.07deg, #090750 0%, #09290C 88.54%);
        opacity: 0;
        transition: all 0.4s ease;
        padding-top: 150px;
        .container {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0 15px;
        }
        &.active {
            opacity: 0.95;
            transform: translate(0);
        }
    }
    .menu__list-item {
        font-size: 30px;
        line-height: 150%;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    .menu__burger {
        display: block;
        z-index: 101;
    }
    .header__logo {
        z-index: 101;
    }
    .header .container {
        padding-right: 40px;
    }
    .header__title {
        font-size: 46px;
        line-height: 60px;
    }
    .header__description {
        font-size: 18px;
        line-height: 20px;
    }
    .container--fluid {
        flex-direction: column;
        max-width: 720px;
        margin: 0 auto;
    }
    .about__shadow {
        position: static;
        transform: none;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .about__inner {
        padding-top: 0;
    }
    .container__full {
        flex: 100% 0 1;
        max-width: 100%;
        padding: 0;
        width: 100%;
    }
    .container__half {
        flex: 100% 0 1;
        max-width: 100%;
        padding: 0;
        width: 100%;
    }
    .about__title,
    .advantages__title {
        margin-bottom: 20px;
    }
    .about__descr,
    .callback__descr,
    .advantages__shadow {
        margin-bottom: 25px;
    }
    .advantages__item:not(:last-child) {
        margin-bottom: 30px;
    }
    .advantages__text {
        margin-bottom: 30px;
    }
    .work__btn-list {
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .work__btn-list-item {
        flex: calc(50% - 15px) 0 1;
        max-width: calc(50% - 15px);
        margin-bottom: 30px;
    }
    .review__shadow {
        margin-left: 0;
    }
    .footer__body {
        flex-direction: column;
    }
    .footer__column {
        flex: 100% 0 1;
        max-width: 100%;
    }
    .footer__left {
        margin-bottom: 40px;
    }
    .footer__left::after {
        content: none;
    }
    .review__text {
        font-size: 18px;
        line-height: normal;
    }
}

@media (max-width: 768px) {
    .header__line {
        display: none;
    }
    .header {
        height: 600px;
    }
    .header__title {
        font-size: 32px;
        line-height: 150%;
    }
    .header__description {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 20px;
    }
    .container--fluid {
        max-width: 540px;
    }
    .callback__title {
        font-size: 25px;
        line-height: 150%;
        margin-bottom: 15px;
    }
    .callback__form {
        flex-direction: column;
    }
    .callback__input {
        width: 100%;
        margin-bottom: 20px;
    }
    .advantages__shadow {
        margin-bottom: 0;
    }
    .work {
        .swiper-slide-prev {
            transform: translateX(50%) scale(0.75);
            opacity: 1;
        }
        .swiper-slide-next {
            z-index: -1;
            transform: translateX(-50%) scale(0.75);
        }
        .swiper-slide-next+.swiper-slide {
            opacity: 0;
            transform: none;
        }
    }
    .review__text {
        font-size: 16px;
        line-height: normal;
    }
}

@media (max-width: 540px) {
    section {
        padding: 40px 0;
    }
    .title--shadow {
        display: none;
    }
    .about__img {
        margin-bottom: 20px;
    }
    .about__title,
    .advantages__title,
    .callback__title,
    .footer__title {
        margin-bottom: 10px;
    }
    .work__btn-list-item {
        flex: calc(50% - 5px) 0 1;
        max-width: calc(50% - 5px);
        margin-bottom: 10px;
    }
    .work__slider {
        max-width: calc(100%);
    }
    .footer__contact-item:not(:last-child) {
        margin-bottom: 15px;
    }
    .footer__contacts {
        margin-bottom: 20px;
    }
    .header__title {
        font-size: 28px;
    }
    .callback__btn {
        width: 100%;
    }
    .advantages__item-text {
        font-size: 16px;
        line-height: 150%;
    }
    .advantages__item-img {
        margin-right: 20px;
        width: 60px;
        height: 70px;
    }
    .work__btn {
        font-size: 17px;
    }
    .review__card {
        padding: 15px;
    }
    .footer__contact-link {
        font-size: 14px;
        line-height: normal;
    }
    .review .swiper-pagination {
        display: none;
    }
    .title:after {
        width: 140px;
    }
    .menu__list-item {
        font-size: 25px;
    }
    .work__title {
        &:after {
            display: none;
        }
    }
    .review__name {
        font-size: 20px;
    }
    .review__link {
        font-size: 18px;
    }
    .footer__contact-link a {
        display: block;
    }
    .popup {
        max-width: 380px;
    }
    .popup__text {
        font-size: 20px;
        line-height: normal;
        margin-bottom: 10px;
    }
    .popup__input:not(:last-of-type) {
        margin-bottom: 5px;
    }
    .popup__input:last-of-type {
        margin-bottom: 15px;
    }
    .popup__logo {
        img {
            max-width: 200px;
            height: auto;
        }
    }
    .popup__input {
        font-size: 16px;
        line-height: 18px;
        padding: 10px;
    }
}

@media (max-width: 400px) {
    .popup {
        max-width: 320px;
    }
}

@media (max-width: 340px) {
    .popup {
        max-width: 300px;
    }
}