.header {
    height: 100vh;
    background: url(../img/header-bg.png) center / cover no-repeat;
    position: relative;
    color: white;
    .container {
        padding-right: 59px;
    }
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(101.07deg, #090750 0%, #09290C 88.54%);
        opacity: 0.8;
        z-index: 0;
    }
    &__top {
        position: relative;
    }
    &__top-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 0;
    }
    &__logo {}
    &__menu {}
    &__contacts {
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.1em;
        display: flex;
        align-items: center;
        &:hover {
            .header__contacts-img {
                animation: din-don 0.3s linear infinite;
            }
        }
    }
    &__contacts-img {
        margin-right: 20px;
    }
    &__contacts-items {
        a {
            transition: all 0.4s ease;
            display: block;
            &:hover,
            &:focus {
                color: #83F78B;
            }
            &:active {
                color: #05950F;
            }
        }
    }
    &__bottom {
        position: relative;
        height: calc(100% - 102px);
        >.container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &__title {
        font-size: 56px;
        line-height: 75px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-weight: 900;
        max-width: 789px;
        margin-bottom: 5px;
    }
    &__description {
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.05em;
        margin-bottom: 45px;
    }
    &__button {}
    &__line {
        position: absolute;
        top: 0;
        width: 100%;
        .container {
            position: relative;
        }
    }
    &__line-inner {
        position: absolute;
        right: 44px;
        top: 50vh;
        transform: translateY(-50%);
        height: 248px;
        a {}
    }
    &__icon {
        position: absolute;
        left: 0;
        z-index: 2;
        display: block;
        box-sizing: content-box;
        width: 17px;
        height: 17px;
        padding: 14px;
        background: transparent;
        svg {
            path {
                transition: all 0.4s ease;
            }
        }
        &:hover,
        &:focus {
            svg {
                path {
                    fill: #83F78B
                }
            }
        }
        &:not(:last-child) {
            &:after {
                content: "";
                background: white;
                display: block;
                position: absolute;
                width: 1px;
                height: 52px;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                pointer-events: none;
            }
        }
        &--fb {}
        &--inst {
            top: calc(50% - 22px);
        }
        &--tg {
            bottom: 0;
        }
    }
    &__scroll {
        background: linear-gradient(101.07deg, #090750 0, #09290c 88.54%);
        opacity: 0.5;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;
        width: 100%;
        transition: all 0.6s ease;
        transform: translateY(-100%);
        &:hover {
            opacity: 0.8;
        }
        &.active {
            transform: none;
        }
    }
}

.line {
    width: 1px;
    height: calc(50vh - 124px);
    background: white;
    position: absolute;
    right: 22px;
    z-index: 1;
    &--before {
        top: 0;
    }
    &--after {
        top: calc(50vh + 124px)
    }
}

.menu {
    &__burger {
        display: none;
        width: 40px;
        height: 35px;
        background: transparent;
        position: relative;
        span {
            display: block;
            width: 100%;
            height: 4px;
            background: white;
            left: 0;
            position: absolute;
            transition: all 0.4s ease;
            &:first-child {
                top: 0;
            }
            &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
            }
            &:last-child {
                bottom: 0;
            }
        }
        &.active {
            span {
                &:first-child {
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    top: 50%;
                    transform: translateY(-50%) rotate(-45deg);
                }
            }
        }
    }
    &__list {
        .container {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__list-item {
        &:not(:last-child) {
            margin-right: 68px;
        }
    }
    &__link {
        position: relative;
        transition: all 0.4s ease;
        &:hover {
            color: #05950F;
            &:after {
                width: 100%;
            }
        }
        &:focus {
            color: #05950F;
        }
        &:after {
            display: block;
            width: 0;
            height: 2px;
            position: absolute;
            content: "";
            background: #05950F;
            bottom: -2px;
            transition: all 0.4s ease;
            pointer-events: none;
        }
    }
}

@keyframes din-don {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}