.container {
    padding: 0 15px;
    width: 100%;
    margin: auto;
    max-width: 1170px;
    &--fluid {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 80px;
    }
    &__half {
        flex: calc(50% + 15px) 0 1;
        max-width: calc(50% + 15px);
        &--right {
            padding-right: calc((100vw - 1330px) / 2);
        }
        &--left {
            padding-left: calc((100vw - 1330px) / 2);
        }
    }
    &__full {
        flex: calc(50% - 80px) 0 1;
        max-width: calc(50% - 80px);
    }
}

@media (max-width: 1199.98px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 991.98px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 767.98px) {
    .container {
        max-width: 540px;
    }
}