.title--shadow {
    font-size: 120px;
    line-height: 141px;
    color: #E6E6E6;
    &:after {
        background: #E6E6E6;
        top: -30px;
    }
}

.title {
    font-weight: 900;
    letter-spacing: 0.05em;
    display: flex;
    align-items: baseline;
    &--regular {
        font-size: 46px;
        line-height: 54px;
        &:after {
            background-color: #090750;
            top: -10px;
        }
    }
    &:after {
        display: block;
        content: "";
        width: 150px;
        height: 4px;
        margin-left: 40px;
        position: relative;
    }
}

.description {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.05em;
}

.btn {
    width: fit-content;
    padding: 20px 45px;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #090750;
    background: #83F78B;
}

.btn-outlined {
    background: transparent;
    width: fit-content;
    padding: 20px 45px;
    border: 1px solid #090750;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
}