.title {
    font-weight: 900;
    letter-spacing: 0.05em;
    display: flex;
    align-items: baseline;
    &:after {
        display: block;
        content: "";
        width: 170px;
        height: 4px;
        margin-left: 40px;
        position: relative;
    }
    &--no-line {
        &:after {
            content: none;
        }
    }
    &--left {
        // flex-direction: row-reverse;
        &:after {
            order: -1;
            margin-right: 40px;
            margin-left: 0;
        }
    }
    &--regular {
        font-size: 46px;
        line-height: 54px;
        &:after {
            background-color: #090750;
            top: -10px;
        }
    }
    &--white {
        &:after {
            background-color: white;
        }
    }
    &--shadow {
        font-size: 120px;
        line-height: 141px;
        color: #E6E6E6;
        &:after {
            background: #E6E6E6;
            top: -30px;
        }
    }
}

.description {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.05em;
}

.btn {
    width: fit-content;
    padding: 20px 45px;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #090750;
    background: #83F78B;
}

.btn-outlined {
    background: transparent;
    width: fit-content;
    padding: 20px 45px;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    &--blue {
        border: 1px solid #090750;
        color: #090750;
    }
    &--white {
        border: 1px solid white;
        color: white;
    }
}

.slider-btns {
    width: 80px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto 0;
    .swiper-button-prev,
    .swiper-button-next {
        height: 25px;
        width: 25px;
        position: static;
        background: #83F78B;
        margin-top: 0;
        &:before {
            content: "";
            width: 7px;
            height: 7px;
            border-top: 1px solid #090750;
            border-left: 1px solid #090750;
        }
        &:after {
            content: none;
        }
    }
    .swiper-button-next {
        &::before {
            transform: translateX(-2px) rotate(135deg);
        }
    }
    .swiper-button-prev {
        &::before {
            transform: translateX(2px) rotate(-45deg);
        }
    }
}