@import "_stylenull";
@import "_layout";
body {
    font-family: "Raleway";
    color: #090750;
}

a {
    color: inherit
}

section {
    padding: 80px 0
}

@import "_little-blocks";
@import "_header";
@import "_about";
@import "_callback";
@import "_advantages";
@import "_work";
@import "_review";
@import "_footer";